<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
            href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css"/>
    <title>Matt&Rado Electronics</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
        <a href="index.html" class="navbar-brand">Matt & Rado</a>

        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="pages/products.html" class="nav-link">Products</a>
                </li>
                <li class="nav-item">
                    <a href="./pages/login.html" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="./pages/register.html" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="./pages/impressum.html" class="nav-link">Legal Notice</a>
                </li>
                <li class="nav-item">
                    <a href="./pages/impressum.html" class="nav-link">Help</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<p class="main-header">Hello, <br> Welcome to the shop </p>
<div class="col-md-12 text-center">
    <a href="./pages/products.html" class="btn btn-outline-primary start-shopping-button" role="button"
       aria-disabled="true">Start exploring</a>
</div>

<footer id="footer">
    <a href="pages/impressum.html" class="link-warning">Legal Notice</a>
    <a href="pages/help.html" class="link-warning">Help</a>
</footer>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"
></script>
</body>
</html>